{% extends 'layout.html' %}

{% block body %}

<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="container">
    <h1>AI On Edge : GROUP 2</h1>
    <hr>

    <label for="appname"><b>Application Name</b></label>
    <input type="text" placeholder="Enter Application Name" name="appname" required>

    <label for="appfile"><b>Upload Application files(.zip) </b></label> <br><br>
    <input type="file" placeholder="Upload Application(.zip) file" name="appfile" required>

    <hr>

    <button type="submit" class="registerbtn" formaction="{{ url_for('Uploaded') }}">Upload</button>
  </div>

</form>

{% endblock %}