
{% extends 'layout.html' %}

{% block body %}
<form action="/add_gw" method="post" enctype="multipart/form-data">
  <div class="container">
    <h4>Register a Gateway</h4>
    <hr>

    <label for="gwname"><b>Gateway Name</b></label>
    <input type="text" placeholder="Enter Gateway Name" name="gwname" required>

    <label for="gwfile"><b>Upload Config file </b></label> <br><br>
    <input type="file" placeholder="Upload Gateway Config file" name="gwfile" required>

    <hr>

    <button type="submit" class="registerbtn" formaction="{{ url_for('add_gw') }}">Upload</button>
  </div>

</form>
{% endblock %}
