
{% extends 'layout.html' %}

{% block body %}
<div class="container">
</br></br></br></br>

<style>
select {
  display: initial;
}
</style>

<script>
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker({
       style: 'btn-info',
       size: 4
   });
 </script>

<form action="/redirect_app" method="post" id="RunAppForm" name="runappform" >

<h4> Run Application</h4>
<hr><br/>
<h6>Select Application:</h6>
<div>
 <select name="applications" class="selectpicker" data-style="btn-inverse">
    <option value="naval"> Naval Mine </option>
    <option value="face">Face Recognition</option>
  </select>
  <br><br>
  <br><br>
</div>
<div>
<button id="submitButton" class="btn btn-success " type="submit">Submit</button>
</div>
</form>
{% endblock %}